<div class="grid">
  <div class="col-12">
    <div *ngIf="products$ | async"
         class="card">
      <h5>Manage products</h5>
      <p-pickList [source]="products"
                  [target]="targetProducts"
                  [dragdrop]="true"
                  [responsive]="true"
                  [sourceStyle]="{'height':'43rem'}"
                  [targetStyle]="{'height':'43rem'}"
                  filterBy="name"
                  targetHeader="Selected"
                  sourceHeader="Available"
                  sourceFilterPlaceholder="Search by name"
                  targetFilterPlaceholder="Search by name">
        <ng-template let-product pTemplate="item">
          <div class="product-item">
            <div class="product-list-detail">
              <div pTooltip="Protein: {{product.protein}}
                            Carbohydrates: {{product.carbohydrate}}
                            Fat: {{product.fat}}"
                   tooltipPosition="bottom">
              <h5 class="mb-2">{{product.name}}
                <h6>Calories: {{product.calories}}</h6>
              </h5>
              </div>
            </div>
          </div>
        </ng-template>
      </p-pickList>
      <p-divider></p-divider>
      <div class="flex gap-3 justify-content-end">
        <p-inputNumber [(ngModel)]="weight"
                       [showButtons]="true"
                       [min]="0.001"
                       [step]="0.001"
                       [minFractionDigits]="3"
                       [maxFractionDigits]="3"
                       suffix=" kg"
                       mode="decimal">
        </p-inputNumber>
        <button pButton
                [disabled]="targetProducts.length === 0"
                icon="pi pi-save"
                label="Save products"
                (click)="saveProducts()">
        </button>
      </div>
    </div>
  </div>
</div>
