<div class="grid">
  <div class="col-12">
    <div *ngIf="products$ | async" class="card px-6 py-6">
<p-pickList [source]="products"
            [target]="targetProducts"
            [dragdrop]="true"
            [responsive]="true"
            [sourceStyle]="{'height':'45rem'}"
            [targetStyle]="{'height':'45rem'}"
            targetHeader="Selected"
            sourceHeader="Available">
  <ng-template let-product pTemplate="item">
    <div class="product-item">
      <div class="product-list-detail">
        <div pTooltip="Protein: {{product.protein}}
                      Carbohydrates: {{product.carbohydrate}}
                      Fat: {{product.fat}}"
             tooltipPosition="bottom">
        <h5 class="mb-2">{{product.name}}
          <h6>Calories:
            <p>{{product.calories}}</p>
          </h6>
        </h5>
        </div>
      </div>
    </div>
  </ng-template>
</p-pickList>
      <div>
        <button pButton
                icon="pi pi-save"
                label="Save products"
                (click)="saveProducts()"></button>
      </div>
    </div>
  </div>
</div>
