<div *ngIf="authenticatedUser$ | async as user">
  <div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 flex flex-column justify-content-center mb-3">
            <div class="block text-500 font-medium mb-3 align-self-center">Calories</div>
            <div class="text-900 font-medium text-xl align-self-center mb-3">
              {{currentlyEatenMacronutrients.calories | number:'.1-2'}} / {{user.calories! | number:'.1-2'}}
            </div>
            <div class="align-self-center">
              <p-progressBar [value]="(currentlyEatenMacronutrients.calories / user.calories!) * 100"
                             [showValue]="false">
              </p-progressBar>
            </div>
        </div>
      </div>

    <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0 flex flex-column justify-content-center mb-3">
            <div class="text-500 font-medium mb-3 align-self-center">Protein</div>
            <div class="text-900 font-medium text-xl align-self-center mb-3">
              {{currentlyEatenMacronutrients.protein | number:'.1-2'}} / {{(user.calories!/ 4) * 0.45 | number:'.1-2'}}
            </div>
            <div class="align-self-center">
              <p-progressBar [value]="(currentlyEatenMacronutrients.protein / ((user.calories!/ 4) * 0.45)) * 100"
                             [showValue]="false">
              </p-progressBar>
            </div>
      </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0 flex flex-column justify-content-center mb-3">
            <div class="block text-500 font-medium mb-3 align-self-center">Carbohydrates</div>
            <div class="text-900 font-medium text-xl align-self-center mb-3">
              {{currentlyEatenMacronutrients.carbohydrates | number:'.1-2'}} / {{(user.calories! / 4) * 0.35 | number:'.1-2'}}
            </div>
            <div class="align-self-center">
              <p-progressBar [value]="(currentlyEatenMacronutrients.carbohydrates / ((user.calories! / 4) * 0.35)) * 100"
                             [showValue]="false">
              </p-progressBar>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0 flex flex-column justify-content-center mb-3">
            <div class="block text-500 font-medium mb-3 align-self-center">Fat</div>
            <div class="text-900 font-medium text-xl align-self-center mb-3">
              {{currentlyEatenMacronutrients.fat | number:'.1-2'}} / {{(user.calories! / 9) * 0.20  | number:'.1-2'}}
            </div>
            <div class="align-self-center">
            <p-progressBar [value]="(currentlyEatenMacronutrients.fat  / ((user.calories! / 9 )* 0.20)) * 100"
                           [showValue]="false">
            </p-progressBar>
            </div>
        </div>
    </div>
    <div class="col-12">
      <div *ngIf="productsUser$ | async as productsUser"
           class="card">
        <h5>Recent products you have eaten</h5>
        <p-table #dt
                 [value]="productsUser | filterArchivedOn | filterCurrentDate"
                 [paginator]="true"
                 [rows]="5"
                 [sortMode]="'multiple'"
                 responsiveLayout="scroll">
          <ng-template pTemplate="caption">

            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <span class="block mt-2 md:mt-0 p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                   placeholder="Search by name"
                                   class="w-full sm:w-auto"
                                   (input)="dt.filter($any($event.target).value, 'product.name','contains')"/>
              </span>
              <div class="my-2">
                <button pButton
                        label="New product"
                        icon="pi pi-plus"
                        class="p-button-success mr-2"
                        [routerLink]="['/home/food/products']">
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="product.name">Name<p-sortIcon field="product.name"></p-sortIcon></th>
              <th pSortableColumn="product.calories">Calories<p-sortIcon field="product.calories"></p-sortIcon></th>
              <th pSortableColumn="product.protein">Protein<p-sortIcon field="product.protein"></p-sortIcon></th>
              <th pSortableColumn="product.carbohydrate">Carbohydrates<p-sortIcon field="product.carbohydrate"></p-sortIcon></th>
              <th pSortableColumn="product.fat">Fat<p-sortIcon field="product.fat"></p-sortIcon></th>
              <th pSortableColumn="weight">Weight<p-sortIcon field="weight"></p-sortIcon></th>
              <th style="width: 30px;"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{product.product.name}}</td>
              <td>{{product.product.calories * product.weight | number:'.1-2'}}</td>
              <td>{{product.product.protein * product.weight | number:'.1-2'}}</td>
              <td>{{product.product.carbohydrate * product.weight | number:'.1-2'}}</td>
              <td>{{product.product.fat * product.weight | number:'.1-2'}}</td>
              <td>{{product.weight | number:'.1-2'}} kg</td>
              <td style="width: 30px;">
                <button pButton
                        type="button"
                        icon="pi pi-trash"
                        class="p-button p-component p-button-text p-button-icon-only p-button-danger"
                        (click)="deleteProductUser(product)">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    <div class="col-12 card">
      <div *ngIf="userMeasurements$ | async">
        <h5>Weight Overview</h5>
        <p-chart type="line" [data]="chartData" [options]="chartOptions" [responsive]="true"></p-chart>
        </div>
      <div>
    </div>
  </div>
 </div>
</div>
</div>
