<div class="grid">
  <div *ngIf="recipes$ | async as recipes" class="col-12">
    <div class="card">
      <h5>Recipes</h5>
      <p-dataView #dv
                  [value]="recipes"
                  [paginator]="true"
                  [rows]="9"
                  layout="grid"
                  filterBy="name">
        <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
            <span class="block mt-2 md:mt-0 p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="search"
                     pInputText
                     placeholder="Search by name"
                     (input)="dv.filter($any($event.target).value, 'contains')">
            </span>
          </div>
        </ng-template>

        <ng-template let-recipe pTemplate="gridItem">
          <div class="col-12 md:col-4">
            <div class="card m-3 border-1 surface-border">
              <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                <div class="flex align-items-center mb-3">
                  <i class="pi pi-tag mr-2"></i>
                  <span class="font-semibold">{{recipe.type}}</span>
                </div>
              </div>
              <div class="flex flex-column align-items-center text-center gap-3">
                <img class="w-6rem h-6rem border-round-2xl"
                     src="{{recipe.photo}}">
                <button pButton
                        class="text-xl text-700 p-button-text p-button-outlined"
                        label="{{recipe.name}}"
                        icon="pi pi-info-circle"
                        iconPos="right"
                        (click)="showModalDialog(recipe.id)">
                </button>
            </div>
          </div>
          </div>
        </ng-template>
      </p-dataView>

    <p-dialog *ngIf="recipe$ | async as recipeDetails"
              [(visible)]="displayModal"
              [style]="{width: '40vw'}"
              [baseZIndex]="10000"
              header="{{recipeDetails.name}} details">
      <p-card>
        <img class="w-20rem h-20rem border-round-2xl align-self-center"
             src="{{recipeDetails.photo}}">
      </p-card>

      <p-fieldset legend="Ingredients">
        <p-table [value]="recipeDetails.ingredients">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ingredient>
            <tr>
              <td>{{ingredient}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>

      <p-fieldset legend="Description">
        {{recipeDetails.description}}
      </p-fieldset>
    </p-dialog>
    </div>
  </div>
</div>
