<div class="grid">
  <div *ngIf="recipes$ | async as recipes" class="col-12">
    <div class="card">
      <h5>Recipes</h5>
      <p-dataView [value]="recipes" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
        <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
            <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Name" >
                        </span>
          </div>
        </ng-template>

        <ng-template let-recipe pTemplate="gridItem">
          <div class="col-12 md:col-4">
            <div class="card m-3 border-1 surface-border">
              <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                <div class="flex align-items-center mb-3">
                  <i class="pi pi-tag mr-2"></i>
                  <span class="font-semibold">{{recipe.type}}</span>
                </div>
              </div>
              <div class="flex flex-column align-items-center text-center gap-3">
                <img class="w-6rem h-6rem border-round-2xl" src="{{recipe.photo}}">
                <div class="text-2xl font-bold">{{recipe.name}}</div>
                <button pButton
                        icon="pi pi-info"
                        (click)="showModalDialog(recipe.id)">
                </button>
            </div>
          </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
    <p-dialog header="Recipe description" [(visible)]="displayModal" [style]="{width: '50vw'}" [baseZIndex]="10000">
    </p-dialog>
  </div>
</div>
