<div class="grid">
    <div *ngIf="measurements$ | async"
         class="col-12">
        <div class="card">
          <h5>Manage measurements</h5>
            <p-table #dt
                     [value]="measurements  | filterArchivedOn"
                     responsiveLayout="scroll"
                     [rows]="6"
                     [paginator]="true"
                     [showCurrentPageReport]="true"
                     [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                   placeholder="Search by weight"
                                   class="w-full sm:w-auto"
                                   (input)="dt.filter($any($event.target).value, 'weight','contains')"/>
                        </span>
                        <div class="my-2">
                          <button pButton
                                  label="New measurement"
                                  icon="pi pi-plus"
                                  class="p-button-success mr-2"
                                  (click)="addMeasurementModalDialog = true">
                          </button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Date</th>
                        <th>Weight</th>
                        <th>Neck</th>
                        <th>Chest</th>
                        <th>Stomach</th>
                        <th>Hips</th>
                        <th>Biceps</th>
                        <th>Calf</th>
                        <th>Waist</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-measurement>
                  <tr>
                    <td>{{measurement.createdOn | date:'shortDate' }}</td>
                    <td>{{measurement.weight}}</td>
                    <td>{{measurement.neck}}</td>
                    <td>{{measurement.chest}}</td>
                    <td>{{measurement.stomach}}</td>
                    <td>{{measurement.hips}}</td>
                    <td>{{measurement.biceps}}</td>
                    <td>{{measurement.calf}}</td>
                    <td>{{measurement.waist}}</td>
                    <td>
                      <div class="flex">
                        <button pButton
                                icon="pi pi-pencil"
                                class="p-button p-component p-button-text p-button-icon-only p-button-warning"
                                (click)="onOpenEditMeasurementModalDialog(measurement); editMeasurementId = measurement.id">
                        </button>
                        <button pButton
                                icon="pi pi-trash"
                                class="p-button p-component p-button-text p-button-icon-only p-button-danger"
                                (click)="archiveMeasurement(measurement.id)">
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
            </p-table>
        </div>

      <p-dialog [(visible)]="addMeasurementModalDialog"
                [baseZIndex]="10000"
                header="Add new measurement">
        <form [formGroup]="addMeasurementForm">
          <label for="weight"
                 class="block text-700 font-medium text-xl mb-2">Weight
          </label>
          <p-inputNumber id="weight"
                         [formControlName]="'weight'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" kg"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="neck"
                 class="block text-700 font-medium text-xl mb-2">Neck
          </label>
          <p-inputNumber id="neck"
                         [formControlName]="'neck'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="chest"
                 class="block text-700 font-medium text-xl mb-2">Chest
          </label>
          <p-inputNumber id="chest"
                         [formControlName]="'chest'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="stomach"
                 class="block text-700 font-medium text-xl mb-2">Stomach
          </label>
          <p-inputNumber id="stomach"
                         [formControlName]="'stomach'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="hips"
                 class="block text-700 font-medium text-xl mb-2">Hips
          </label>
          <p-inputNumber id="hips"
                         [formControlName]="'hips'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="calf"
                 class="block text-700 font-medium text-xl mb-2">Calf
          </label>
          <p-inputNumber id="calf"
                         [formControlName]="'calf'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="waist"
                 class="block text-700 font-medium text-xl mb-2">Waist
          </label>
          <p-inputNumber id="waist"
                         [formControlName]="'waist'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <div class="flex flex-column align-items-center justify-content-between mb-5 gap-5">
            <button pButton
                    pRipple
                    label="Save measurement"
                    icon="pi pi-save"
                    class="w-full p-3 text-xl"
                    (click)="onAddMeasurementFormSubmit()">
            </button>
          </div>
        </form>
      </p-dialog>

      <p-dialog [(visible)]="editMeasurementModalDialog"
                [baseZIndex]="10000"
                header="Edit measurement">
        <form [formGroup]="editMeasurementForm">
          <label for="editWeight"
                 class="block text-700 font-medium text-xl mb-2">Weight
          </label>
          <p-inputNumber id="editWeight"
                         [formControlName]="'weight'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" kg"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="editNeck"
                 class="block text-700 font-medium text-xl mb-2">Neck
          </label>
          <p-inputNumber id="editNeck"
                         [formControlName]="'neck'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="editChest"
                 class="block text-700 font-medium text-xl mb-2">Chest
          </label>
          <p-inputNumber id="editChest"
                         [formControlName]="'chest'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="editStomach"
                 class="block text-700 font-medium text-xl mb-2">Stomach
          </label>
          <p-inputNumber id="editStomach"
                         [formControlName]="'stomach'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="editHips"
                 class="block text-700 font-medium text-xl mb-2">Hips
          </label>
          <p-inputNumber id="editHips"
                         [formControlName]="'hips'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="editCalf"
                 class="block text-700 font-medium text-xl mb-2">Calf
          </label>
          <p-inputNumber id="editCalf"
                         [formControlName]="'calf'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <label for="editWaist"
                 class="block text-700 font-medium text-xl mb-2">Waist
          </label>
          <p-inputNumber id="editWaist"
                         [formControlName]="'waist'"
                         [showButtons]="true"
                         [min]="1"
                         [max]="200"
                         mode="decimal"
                         inputId="minmax-buttons"
                         styleClass="w-full md:w-30rem mb-5"
                         suffix=" cm"
                         decrementButtonClass="p-button-secondary"
                         incrementButtonClass="p-button-secondary">
          </p-inputNumber>

          <div class="flex flex-column align-items-center justify-content-between mb-5 gap-5">
            <button pButton
                    pRipple
                    label="Save changes"
                    icon="pi pi-save"
                    class="w-full p-3 text-xl"
                    (click)="onEditMeasurementFormSubmit()">
            </button>
          </div>
        </form>
      </p-dialog>
    </div>
</div>
